<div class="content-wrapper">
    <div class="app-content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <h3 class="mb-0">Create Category</h3>
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-end">
                        <li class="breadcrumb-item"><a asp-action="CategoryList">Category List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Create Category</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create Category</h3>
                        </div>
                        <form asp-action="CreateCategory" id="quickForm" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="_csrf" value="0ace75f6f369acecb7a4be5c1c0c6fe04ec876aa432aa658">
                            <input type="hidden" name="Id" value="0" />
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="NameCategory">Category Name</label>
                                    <input type="text" name="NameCategory" class="form-control" id="NameCategory" placeholder="Enter category name" required minlength="2" maxlength="50">
                                </div>
                            </div>
                            <div class="card-footer text-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <a asp-action="CategoryList" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>